name: Instruction count nightly
on:
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * *' # run at 2 PM UTC
jobs:
  run-benchmark:
    if: ${{ github.repository_owner == 'pytorch' }}
    runs-on: [self-hosted, bm-metal]
    env:
      SCRIBE_GRAPHQL_ACCESS_TOKEN: ${{ secrets.SCRIBE_GRAPHQL_ACCESS_TOKEN }}
    steps:
      - name: Check out
        uses: actions/checkout@v2
        with:
          ref: gh/taylorrobie/callgrind_scribe2
      - name: Create Conda nightly env
        run: |
          bash .github/scripts/instr-count-benchmark/create-nightly-env.sh
      - name: Run benchmark
        run: |
          bash .github/scripts/instr-count-benchmark/run-benchmark.sh
      - name: Clean up environment
        run: |
          bash .github/scripts/instr-count-benchmark/remove-nightly-env.sh
