name: TorchBench nightly v0.1
on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * *' # run at 1 PM UTC

jobs:
  run-benchmark:
    if: ${{ github.repository_owner == 'pytorch' }}
    runs-on: [self-hosted, bm-metal]
    env:
      SCRIBE_GRAPHQL_ACCESS_TOKEN: ${{ secrets.SCRIBE_GRAPHQL_ACCESS_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: 0.1
      - name: Run benchmark
        run: |
          bash ./.github/scripts/run-nightly-nodocker.sh
      - name: Copy artifact
        run: |
          LATEST_RESULT=$(find ${HOME}/benchmark-results-v0.1/gh${GITHUB_RUN_ID}/ -name "*.json" | sort -r | head -1)
          TODAY=$(date "+%Y%m%d%H%M%S")
          cp ${LATEST_RESULT} ./benchmark-result-${TODAY}.json
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: Benchmark result
          path: benchmark-result-*.json
