name: TorchBench PR Test
on:
  pull_request:
  workflow_dispatch:

env:
  PYTHON_VERSION: "3.10"
  CUDA_VERSION: "cu116"
  CONDA_ENV: "pr-test"
  MAGMA_VERSION: "magma-cuda116"
  SETUP_INSTANCE_SCRIPT: "/workspace/setup_instance.sh"

jobs:
  pr-test:
    runs-on: [self-hosted, a100-runner]
    timeout-minutes: 1440 # 24 hours
    steps:
      - name: Checkout TorchBench
        uses: actions/checkout@v3
      - name: GPU Tuning
        run: |
          . "${SETUP_INSTANCE_SCRIPT}"
          sudo LD_LIBRARY_PATH=/usr/local/nvidia/lib64:$LD_LIBRARY_PATH nvidia-smi -pm 1
          sudo LD_LIBRARY_PATH=/usr/local/nvidia/lib64:$LD_LIBRARY_PATH nvidia-smi -ac 1215,1410
          nvidia-smi
      - name: Setup Conda Env
        run: |
          . "${SETUP_INSTANCE_SCRIPT}"
          conda install -y python="${PYTHON_VERSION}"
      - name: Install PyTorch nightly
        run: |
          . "${SETUP_INSTANCE_SCRIPT}"
          bash ./scripts/install_nightlies.sh
      - name: Install TorchBench
        run: |
          . "${SETUP_INSTANCE_SCRIPT}"
          python install.py
      - name: Validate benchmark components (Worker)
        run: |
          . "${SETUP_INSTANCE_SCRIPT}"
          python -m components.test.test_subprocess
          python -m components.test.test_worker
      - name: Validate benchmark components (Model)
        run: |
          . "${SETUP_INSTANCE_SCRIPT}"
          python test.py
