name: TorchBench Infra GHA runner test
on:
  workflow_dispatch:
  pull_request:

jobs:
  place_holder:
    runs-on: linux.2xlarge
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Simple check
      run: |
        echo "Success. You are running on GHA runner."
